absl-py==2.3.1
ai2thor==0+966bd7758586e05d18f6181f459c0e90ba318bec
ai2thor-colab==0.1.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.4.0
autopep8==2.3.2
av==16.0.1
aws-requests-auth==0.4.3
babel==2.17.0
beautifulsoup4==4.14.2
black==25.11.0
blinker==1.9.0
boto3==1.41.1
botocore==1.41.1
box2d-py==2.3.8
canonicaljson==2.0.0
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==1.6.0
colour==0.1.5
compress-pickle==2.1.0
compress_json==1.1.1
contourpy==1.3.2
cryptography==46.0.3
csvw==3.7.0
cycler==0.12.1
Cython==3.2.1
decorator==4.4.2
distlib==0.4.0
dlinfo==2.0.0
exceptiongroup==1.3.0
execnet==2.1.2
executing==2.2.1
Farama-Notifications==0.0.4
fastjsonschema==2.21.2
filelock==3.19.1
fire==0.7.1
flake8==7.3.0
flaky==3.8.1
Flask==2.0.1
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.9.0
ftfy==6.3.1
future==1.0.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
glfw==2.10.0
GPUtil==1.4.0
grpcio==1.76.0
gym==0.17.3
gym-minigrid==1.0.3
gymnasium==0.28.1
gymnasium-robotics==1.2.2
h5py==3.15.1
hf-xet==1.2.0
huggingface-hub==0.36.0
identify==2.6.15
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
iniconfig==2.3.0
invoke==2.0.0
ipdb==0.13.13
ipython==8.37.0
isodate==0.7.2
isort==7.0.0
itsdangerous==2.2.0
jax-jumpy==1.0.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
kiwisolver==1.4.9
language-tags==1.2.0
lazy_loader==0.4
lightning==2.5.6
lightning-utilities==0.15.2
llvmlite==0.45.1
loguru==0.7.3
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.7
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.2
mujoco==2.3.3
multidict==6.7.0
mypy==1.2.0
mypy_extensions==1.1.0
narwhals==2.12.0
nbformat==5.10.4
networkx==3.3
nltk @ git+https://github.com/nltk/nltk@582e6e35f0e6c984b44ec49dcb8846d9c011d0a8
nodeenv==1.9.1
numba==0.62.1
numpy==2.1.2
numpy-quaternion==2022.4.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
objathor==0.0.8
objaverse==0.1.7
omegaconf==2.3.0
omnisafe==0.5.0
open_clip_torch==3.2.0
openai-clip==1.0.1
opencv-python==4.11.0.86
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathspec==0.12.1
patsy==1.0.2
petname==2.6
pettingzoo==1.24.3
pexpect==4.9.0
phonemizer==3.3.0
pickle5==0.0.11
pillow==11.3.0
platformdirs==4.5.0
plotly==6.5.0
pluggy==1.6.0
pre_commit==4.4.0
prettytable==3.17.0
prior==1.0.3
proglog==0.1.12
progressbar2==4.5.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
pyflakes==3.4.0
pygame==2.1.0
PyGithub==2.8.1
pyglet==1.5.0
Pygments==2.19.2
PyJWT==2.10.1
PyNaCl==1.6.1
PyOpenGL==3.1.10
pyparsing==3.2.5
pyquaternion==0.9.9
PySocks==1.7.1
pytest==9.0.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-fcl==0.7.0.10
python-sat==1.8.dev24
python-utils==3.9.1
python-xlib==0.33
pytokens==0.3.0
pytorch-lightning==2.5.6
pytz==2025.2
PyYAML==6.0.3
rdflib==7.4.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rfc3986==1.5.0
rich==14.2.0
rpds-py==0.29.0
ruff==0.14.5
s3transfer==0.15.0
safetensors==0.7.0
safety-gymnasium==1.0.0
scikit-image==0.24.0
scikit-video==1.1.11
scipy==1.15.3
seaborn==0.13.2
segments==2.3.0
sentry-sdk==2.45.0
setproctitle==1.3.7
shapely==2.1.2
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
smmap==5.0.2
soupsieve==2.8
stack-data==0.6.3
stringcase==1.2.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
termcolor==3.2.0
tifffile==2025.5.10
timeout-decorator==0.5.0
timm==1.0.22
tokenizers==0.20.3
tomli==2.3.0
torch==2.4.1+cu121
torchaudio==2.4.1+cu121
torchmetrics==1.8.2
torchvision==0.19.1+cu121
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.1
trimesh==4.9.0
triton==3.0.0
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
virtualenv==20.35.4
wandb==0.23.0
wcwidth==0.2.14
Werkzeug==2.0.1
wget==3.2
xformers==0.0.28.post1
xmltodict==1.0.2
yarl==1.22.0
